<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="{{ script }}"></script>
    <script defer src="https://cdn.tailwindcss.com"></script>
    <title>Wave Function Collapse</title>
  </head>
  <body>
    <div hx-post="/draw-grid" hx-vals='{"width": "64", "height":"64", "cell_size":"32"}' hx-trigger="load" class="flex flex-wrap h-[64px] w-[64px] bg-black">
      <!-- DRAW GRID HERE -->
    </div>
  </body>
</html>
